<div class="todo-title">Todos</div>

<ng-container *ngIf="todos$ | async as todos">
  <div class="todo-container">
    <div class="todo-input-form">
      <div class="todo-input-form__complete">
        >
      </div>

      <div class="todo-input-form__input">
        <input
          #InputRef
          (keydown.enter)="addTodo(InputRef)"
          type="text"
          placeholder="Add a todo"
        />
      </div>
    </div>

    <div class="todo-list">
      <ng-container *ngFor="let todo of todos">
        <TodoListItem
          [todo]="todo"
          (completeChanged)="updateCompleted($event)"
          (delete)="deleteTodo($event)"
        />
      </ng-container>
    </div>

    <div class="todo-actions">
      <div class="todo-actions__count">
        Items {{todos.length}}
      </div>

      <div class="todo-actions__filters">
        <div>All</div>
        <div>Active</div>
        <div>Completed</div>
      </div>

      <div class="todo-actions__clear" (click)="clearAllCompleted()">
        Clear Completed
      </div>
    </div>
  </div>
</ng-container>
